<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='sistema_fechado.css') }}"> <!-- Importa o CSS -->
    <title>Sistema Fechado</title>
</head>
<body>
    <div class="container">
        <h1>Sistema Fechado</h1>
        <div class="retornar">
            <form action="{{ url_for('retornar') }}" method="get">
                <button type="submit">Retornar ao sistema</button>
            </form>
    </div>
    </div>
</body>
</html>
